.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container{
  height: 100vh;
  font-weight: bold;
  color: #7D6B7D;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 50px 1fr 100px;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}